@import url("http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Allan:700");
/* -------------------------------------------------------------- 
  General Styles
-------------------------------------------------------------- */
body {
  background-color: #fcfcfc;
  font: normal 400 1em 'droid sans';
  color: #222; }

.container {
  position: relative;
  max-width: 960px;
  margin: 0 auto; }

.masthead {
  background-color: #6d787a;
  background-image: url(images/texture.png), -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(#4f5d60), to(#6d787a));
  background-image: url(images/texture.png), -webkit-radial-gradient(50% 50%, #6d787a, #4f5d60);
  background-image: url(images/texture.png), -moz-radial-gradient(50% 50%, #6d787a, #4f5d60);
  background-image: url(images/texture.png), -o-radial-gradient(50% 50%, #6d787a, #4f5d60);
  background-image: url(images/texture.png), -ms-radial-gradient(50% 50%, #6d787a, #4f5d60);
  background-image: url(images/texture.png), radial-gradient(50% 50%, #6d787a, #4f5d60); }
  .masthead h1 {
    margin: 0;
    padding: 1em; }
  .masthead .brand {
    font: normal 700 2em Allan;
    letter-spacing: 0.0312em;
    color: #a8b2b4;
    text-decoration: none;
    text-shadow: 1px 1px 1px black; }
  .masthead .fb-link, .masthead .fb-user {
    display: block;
    position: absolute;
    top: 160px;
    right: 1em;
    background: transparent url(images/fb.png) right top no-repeat;
    text-decoration: none; }
    .masthead .fb-link:hover, .masthead .fb-user:hover {
      background-position: right -35px;
      text-decoration: underline; }
  .masthead .fb-link {
    width: 36px;
    height: 35px;
    text-indent: -9999px; }
  .masthead .fb-user {
    width: 120px;
    height: 24px;
    padding-top: 12px;
    color: #5c6769;
    font-size: 0.75em; }

.btn {
  display: inline-block;
  padding: 2px 12px;
  margin-bottom: 0;
  font-size: 0.875em;
  line-height: 1.25em;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(49%, #f1f1f1), color-stop(51%, #e1e1e1), color-stop(100%, #f6f6f6));
  background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
  background: linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  border-radius: 3px; }
  .btn.delete {
    border: 1px solid #c00; }
  .btn:hover {
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear; }

/* -------------------------------------------------------------- 
  END General Styles
-------------------------------------------------------------- */
/* -------------------------------------------------------------- 
  Movie List Table Styles
-------------------------------------------------------------- */
.movies {
  margin: 1em 0;
  width: 100%;
  border: solid 2px #b3c0b6; }
  .movies tr:nth-child(odd) {
    background-color: #ebeeec; }
  .movies tr.editing {
    background-color: #ffc; }
  .movies th {
    padding-left: 1em;
    border-left: solid #5c6769 1px;
    background-color: #aab3b4;
    color: white;
    text-align: left; }
    .movies th:first-child {
      border-left-style: none; }
  .movies td {
    padding: 0.5em 1em; }

.sorter {
  position: relative;
  display: block;
  margin-left: -1em;
  padding: 0.5em 1em;
  color: white;
  text-decoration: none; }
  .sorter span {
    position: absolute;
    top: 8px;
    right: 1em;
    color: black;
    font-size: 0.5em; }
    .sorter span.el-icon-caret-down {
      top: 17px; }
  .sorter:hover {
    background-color: #1e3e44; }
    .sorter:hover span {
      color: #b3c0b6; }

/* -------------------------------------------------------------- 
  END Movie List Table Styles
-------------------------------------------------------------- */
/* -------------------------------------------------------------- 
  Add/Edit Form Styles
-------------------------------------------------------------- */
.add-edit-form {
  background-color: #e0e4f1;
  padding: 2.5em 0; }
  .add-edit-form div {
    display: inline-block;
    padding: 0 1em; }
  .add-edit-form label {
    font-size: 0.75em; }
  .add-edit-form input {
    background-color: #f9faf9;
    font-size: 0.75em;
    color: #5c6769; }
  .add-edit-form select {
    font-size: 0.75em; }
  .add-edit-form .submit {
    font-size: 1em;
    color: #5c6769; }
  .add-edit-form .cancel {
    display: none; }
    .add-edit-form .cancel.shown {
      display: inline-block; }

/* -------------------------------------------------------------- 
  END Add/Edit Form Styles
-------------------------------------------------------------- */
/* -------------------------------------------------------------- 
  Error Presentation Styles
-------------------------------------------------------------- */
.errors {
  position: absolute;
  display: none;
  top: 145px;
  left: 1em;
  padding: 0.5em 3em 0.5em 1em;
  background-color: rgba(255, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.6);
  font-size: 0.875em;
  color: white; }
  .errors.shown {
    display: block; }
  .errors .close {
    position: absolute;
    top: 4px;
    right: 6px;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none; }

/* -------------------------------------------------------------- 
  END Error Presentation Styles
-------------------------------------------------------------- */

/*# sourceMappingURL=style.css.map */
